<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="logo_holder">
    <h1>Iain's Pizza</h1>
  </div>
  <div class="banner">
  </div>
  <nav>
    <ul>
      <li><a href="/pizzas">All Pizzas</a></li>
      <li><a href="/pizzas/new">New Pizza</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
