<form action="/pizzas" method="POST">

  <label for="first-name-field">First name:</label>
  <input type="text" name="first_name" id="first-name-field"/>

  <label for="last-name-field">Last name:</label>
  <input type="text" name="last_name" id="last-name-field" />

  <label for="pizza-select">Select a pizza:</label>
    <select id="pizza-select" name="topping">
      <option value="Margherita">Margherita</option>
      <option value="Calzone">Calzone</option >
    </select >

  <label for="quantity-field">Quantity:</label>
  <input type="number" name="quantity" id="quantity-field" />

  <input type="submit" value="Order Pizza"/>

</from>
