* {
  margin:0px;
  padding:0px;
}


#main-map {
  height: 200px;
  width: 300px;
}

.container header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: 300px;
  text-align: center;
}

.container header h1 {
  color:white;
  font-size: 70px;
}

.main-content {
  width: 300px;
  margin: 30px auto 30px auto;
  text-align: center;
  border: 1px solid black;
  border-radius:10px;
  padding: 20px;
}

.main-content select {
  margin-bottom: 30px;
}

.main-content h2 {
  margin-bottom:30px;
}

.main-content p {
  margin-bottom: 20px;
}
